header {
    display: flex;
    width: 82%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    justify-content: space-between;
    background-color: var(--sidebar-bg);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.2s ease-in-out;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.menu-button {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 9999px !important;
    color: var(--text-main) !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.menu-button:hover {
    background-color: var(--border-color) !important;
}