header {
    display: flex;
    width: 82%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    padding-left: 1rem;
    /* px-4 (16px) */
    padding-right: 1rem;
    /* px-4 (16px) */
    padding-top: 0.75rem;
    /* py-2 (8px) */
    padding-bottom: 0.75rem;
    /* py-2 (8px) */
    gap: 0.75rem;
    /* gap-3 (12px) */
}

.menu-button {
    min-width: 40px !important;
    /* !min-w-[40px] */
    width: 40px !important;
    /* !w-[40px] */
    height: 40px !important;
    /* !h-[40px] */
    border-radius: 9999px !important;
    /* !rounded-full */
    color: #1f2937 !important;
    /* !text-gray-800 */
}